body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
  }
  nav {
    background-color: rgb(129, 128, 137);
    display: flex;
  }
  .nav-items {
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    color: black;
    transition: background-color 400ms ease-in-out, color 400ms ease-in-out;
  }
  .nav-items:hover {
    background-color: grey;
    color: white;
  }
  nav a {
    text-decoration: none;
  }
  
  header, footer {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px 0;
    text-align: center;
  }